
.main {
grid-area: main;
display: grid;
padding-bottom: 1%;
}

.mainabout{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.mainabout > div {
    flex-direction: row;
    flex-wrap: wrap;
    height: 75vh;
    padding: 1%;
    margin: 1%;
    background-color: black;
    border-radius: 20px;
    border: #ffffff solid 0.5px;
    box-shadow: 4px 2px 3px 1px#b5aeaee8;
    text-align: center;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;
    color: #ffffff;
}

.photoabout > img { 
    width: 30vw;
    height: 50vh;
    border-radius: 10%;
    box-shadow: #b5aeaee8 4px 1px 2px 3px;
    border: #ffffff solid 2px;
    flex-direction: column;
}

.photoabout {
    width: 30vw;
}

 h2 { 
    margin:0;
    font-size: 25px;
    color: #ffffff;
}

  p {  
    margin: 0;
    font-size: 18px;
    color: #bdb9b9;
}
