.main {
        grid-area: main;
        display: flex;
        justify-content: center;
    }

.contact {
     max-width: 600px; 
     width: 30vw;
     height: 70vh;
     padding: 2%; 
     border: #fff solid 2px;
     border-radius: 6%;
     box-shadow:#fff 4px 2px 2px 3px;
     display: flex;
     flex-direction: column;
    gap: 1%;
    background-color: rgba(19, 18, 18, 0.902);
    box-shadow: #fff 4px 2px 3px 1px rgba(0, 0, 0, 5);
    color: #fff;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
    border: #000 solid 2px;
}

@media screen and (max-width: 600px) {
    .contact {
        width:400px ;
    }
}



