body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2021-07/22/15/enhanced/f8987a4a5cd0/anigif_enhanced-8925-1626968822-11.gif);
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ; 
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas: 
    "headr headr headr headr headr"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "footr footr footr footr footr"
} 

.headr {
    grid-area: headr;
    background-color: white;
    width: 100vw;
    height: 10vh;
}

.headr-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.headr-container > div {
    background-color:rgba(12, 11, 11, 0.468);
    width: 320px;
    height: 40px;
    margin: 1px;
    padding: 0.5%;
    font-size: 25px;
    box-shadow: 6px 3px 12px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
}

.headr-container > div:hover {
    transform: scale(1.1);
}

  a:link {
    text-decoration: none; 
  }
   a:visited { 
    color: white;
  }
  a:hover { 
    color: black;
  }
   a:active { 
    color: black;
  }


.main {
    background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2021-07/22/15/enhanced/f8987a4a5cd0/anigif_enhanced-8925-1626968822-11.gif);  
    width: 100vw;
    height: 80vh;
    grid-area: main;
}

.mainhome { 
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    margin-bottom: 3%;
    justify-content: space-between;
     background-color: rgba(12, 11, 11, 0.468);
}

 .mainhome > div { 
    width: 28vw;
    height: 60vh;
    justify-content: center;
    background-color: rgba(12, 11, 11, 0.468);
    flex-direction: row;
    align-items: center; 
}

@media screen and (max-width:600px) {
    .main > div {
            flex-direction:column;
    }
}

.footr {
     width: 100vw;
     height: 10vh;
    grid-area: footr;
    position: fixed;
    bottom: 0;
}

.footr-container {
    width: 100vw;
    height: 10vh;
    background-color: rgba(180, 178, 178, 0.763);;
    display: flex;
    justify-content: center; 
    align-items: center;
}
